{% extends 'base.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('profile') }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('profile') }}
{% endblock %}

{% block title %}Profile{% endblock %}

{% block body %}
  <div class="row profile">
    <div class="col-md-8 col-md-offset-4">
      <div class="avatar-wrapper">
        <img src="{{ view.avatar_uri }}" class="avatar"/>
      </div>
      <div class="name">
        <label>Name</label>{{ view.name }}
      </div>
      <div class="role">
        <label>Role</label>{{ view.role }}
      </div>
      <div class="balance">
        <label>Balance</label>{{ view.balance }}
      </div>
      <div class="level">
        <label>Level</label>{{ view.level }}
      </div>
    </div>
  </div>
{% endblock %}
