<template>
	<div class="form-group">
		<label :for="vars.id" class="required">{{ vars.label }}</label>
		<div id="job-image-field" class="drop-zone no-gutters row" ref="drop_zone" :class="{ 'mouse-over': isHover, 'is-invalid': errors.length }" aria-describedby="imageHelpBlock">
			<div class="col drop-text">
				<div>
					<div>Drop the image here!</div><div><a href="javascript:void(0)" class="drop-zone-click">Or click here</a>.</div>
				</div>
				<input v-bind="$attrs" :type="vars.type" :name="vars.full_name" required="required" ref="input" accept="image/*" v-show="false" v-on:change="handleFileUpload()">
			</div>
			<progress max="100" :value.prop="uploadPercentage"></progress>
			<div class="col preview" v-show="vShowPreview">
				<div>
					<img :src="imagePreview"/>
					<div>{{ imageName }}</div>
				</div>
			</div>
		</div>
		<div class="w-100"></div>
		<div class="col-12">
			<small id="imageHelpBlock" class="form-text text-muted">
				Acceptable image formats: jpeg, png.
			</small>
		</div>
		<span class="invalid-feedback d-block">
				<span class="d-block" v-for="error in errors"><span class="form-error-icon badge badge-danger text-uppercase">Error</span> <span class="form-error-message">{{ error }}</span></span>
			</span>
		<input type="hidden" v-for="(child, key) in children" :key="key" :id="child.id" :name="child.full_name" :value="getValueByKey(key)">
	</div>
</template>

<script>
	import axios from 'axios'

	export default {
		name: 'JobImage',
		inheritAttrs: false,
		data() {
			return {
				dragAndDropCapable: false,
				isHover: false,
				vShowPreview: false,
				vShowProgress: false,
				uploadPercentage: 0,
				image: '',
				preview: '',
				isTemp: false,
				fileName: '',
				uri: '',
				errors: [],
				vars: {},
				children: {},
			}
		},
		props: {
			previewWidth: {
				type: String,
				default: ''
			},
		},
		computed: {
			imagePreview: function () {
				if (this.preview) {
					this.vShowPreview = true;
					return this.preview;
				}

				if (this.uri) {
					this.vShowPreview = true;
					return this.uri;
				}

				this.vShowPreview = false;
				return '';
			},
			imageName: function() {
				if (this.image) {
					return this.image.name;
				}

				if (this.fileName) {
					return this.fileName;
				}

				return '';
			}
		},
		methods: {
			handleFileUpload: function() {
				console.info("handleFileUpload");
				let files = this.$refs.input.files;

				this.image = files[0];
				this.isHover = false;

				if (!/\.(jpe?g|png)$/i.test(this.image.name)) {
					this.vShowPreview = false;
					this.preview = null;
					this.image = null;
					this.errors.push('Please upload a valid image.');
				}
				else {
					this.$refs.input.files = files;
					this.submitFile();
				}
			},
			determineDragAndDropCapable() {
				var div = document.createElement('div');

				let isDraggable = (('draggable' in div)
					|| ('ondragstart' in div && 'ondrop' in div))
					&& 'FormData' in window
					&& 'FileReader' in window;

				if (isDraggable) {
					this.initDragAndDropCapable();
				}
			},
			submitFile: function () {
				let formData = new FormData();
				formData.append('image', this.image);

				this.vShowProgress = true;

				axios.post('/job-upload-image',
					formData,
					{
						headers: {
							'Content-Type': 'multipart/form-data'
						},
						onUploadProgress: function (progressEvent) {
							this.uploadPercentage = parseInt(Math.round((progressEvent.loaded * 100) / progressEvent.total));
						}.bind(this)
					}
				).then(function (response) {
					this.vShowProgress = false;
					this.errors = [];

					if ('undefined' !== typeof response.data.errors) {
						this.errors.push(response.data.errors);
					}
					else {
						this.vShowPreview = true;
						this.uri = response.data.uri;
						this.fileName = response.data.name;
						this.isTemp = true;
					}

				}.bind(this))
					.catch(function (error) {
						this.errors.push(error);
					}.bind(this));
			},
			handleDropFile: function(e) {
				const files = e.target.files || e.dataTransfer.files;

				if (!files.length) {
					return;
				}
				// console.info("drop, files: %o", files);
				this.image = files[0];
				this.isHover = false;

				if (!/\.(jpe?g|png)$/i.test(this.image.name)) {
					this.vShowPreview = false;
					this.preview = null;
					this.image = null;
					this.errors.push('Please upload a valid image.');
				}
				else {
					this.$refs.input.files = e.target.files || e.dataTransfer.files;
					this.submitFile();
				}
			},
			getValueByKey: function(key) {
				switch (key) {
					case 'file_name':
						return this.imageName;

					case 'is_temp':
						return this.isTemp;

					default:
						return this.uri;
				}
			},
			initFromVars: function() {
				let vars = JSON.parse(this.$refs.input.attributes['data-vars'].value);
				if (null !== vars.value) {
					this.isTemp = vars.value.is_temp;
					this.fileName = vars.value.file_name;
					this.uri = vars.value.uri;
				}
				this.errors = vars.text_errors;

				console.info("vars: %o", vars);

				for (let id in vars.children) {
					if ('image' === id) {
						this.vars = vars.children[id];
					}
					else {
						this.children[id] = vars.children[id];
					}
				}
				console.info("this.children: %o", this.children);
				this.vars = vars;
			},
			initDragAndDropCapable: function() {
				// ['drag', 'dragstart', 'dragend', 'dragover', 'dragenter', 'dragleave', 'drop'].forEach(function (evt) {
					['dragenter', 'dragover', 'dragleave', 'drop'].forEach(function (evt) {
					this.$refs.drop_zone.addEventListener(evt, function (e) {
						e.preventDefault();
						e.stopPropagation();

						switch (e.type) {
							case 'dragover':
								this.isHover = true;
								break;

							case 'drop':
								this.handleDropFile(e);
								break;

							default:
								this.isHover = false;
								break;
						}
					}.bind(this), false);
				}.bind(this));
			}
		},
		mounted() {
			this.initFromVars();
			this.determineDragAndDropCapable();
		},
	}
</script>
