{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('job_add') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('job_add') }}
{% endblock %}

{% block title %}Add a job{% endblock %}

{% block body %}
    <div class="col-md-12">
        {{ form_start(form, {'attr': {'id': 'job-create-form', 'class': 'needs-validation', novalidate: 'novalidate'}}) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
