{% extends 'base.html.twig' %}

{% block title %}Мои задачи{% endblock %}

{% block body %}
  <div class="row">
    <h2>Мои задачи</h2>

    <div class="col-md-12">
      <table class="table">
        <tbody>
        {% for view in job_views %}
          <tr>
            <td>
              <div><a href="{{ path('seller_my_job', {'job_id': view.job_id}) }}">{{ view.title }}</a></div>
              <div><a href="{{ path('seller_my_job', {'job_id': view.job_id}) }}"><img src="{{ view.img_url }}" alt="{{ view.title }}" width="200"/></a></div>
            </td>
            <td>
              <div>{{ view.created_at }}</div>
              <div>{{ view.category }}</div>
              <div>{{ view.cost }}</div>
              <div>{{ view.state }}</div>

              <div>
                <a href="{{ path('seller_my_job', {'job_id': view.job_id}) }}">Просмотр</a>
                <span class="delimeter">|</span>
                <a href="{{ path('seller_update_job', {'job_id': view.job_id}) }}">Изменить</a>
                <span class="delimeter">|</span>
                <a href="{{ path('seller_my_job', {'job_id': view.job_id}) }}">Удалить</a>
              </div>

            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
