{% extends 'base.html.twig' %}

{% block title %}{{ view.title }}{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-md-12">
      <h2>{{ view.title }}</h2>
    </div>
    <div class="col-md-12 actions">
      <span><a href="{{ path('seller_update_job', {'job_id': view.job_id}) }}">Изменить</a></span>
      <span><a href="{{ path('seller_my_job', {'job_id': view.job_id}) }}">Удалить</a></span>
    </div>
    <div class="col-md-12"><img src="{{ view.img_url }}" alt="{{ view.title }}"/></div>
    <div class="col-md-12"><label>Создана:</label><span class="value">{{ view.created_at }}</span></div>
    <div class="col-md-12"><label>Категория:</label><span class="value">{{ view.category }}</span></div>
    <div class="col-md-12"><label>Описание:</label>
      <div>{{ view.description|nl2br }}</div>
    </div>
    <div class="col-md-12"><label>Статус:</label><span class="value">{{ view.state }}</span></div>
    <div class="col-md-12"><label>Цена:</label><span class="value">{{ view.cost }}</span></div>
  </div>
{% endblock %}
