{% extends 'base.html.twig' %}

{% block title %}Main page{% endblock %}

{% set without_sidebar = is_logged is not defined or not is_logged %}

{% block body %}
  <div class="row">
    <div class="col">
      Main page
    </div>
  </div>
{% endblock %}
