<ul class="profile-menu list-unstyled">
  <li><img src="{{ view.avatar_uri }}" class="avatar"/>{{ view.name }} (<span class="text-muted">{{ view.balance }} / {{ view.reserved }}</span>)</li>
  <li><a href="{{ path('profile') }}">Профиль</a></li>
  <li>{{ view.role }} <span class="small"><a href="{{ path('toggle_role', {'src': app.request.attributes.get('_route')}) }}">Сменить роль</a></span>
  </li>
  <li><a href="{{ path('index') }}">Заказы</a></li>
  <li><a href="{{ path('logout') }}">Выйти</a></li>
</ul>
