{% extends 'base.html.twig' %}

{% block title %}{{ view.title }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-8 col-md-offset-4">
            <h2>{{ view.title }}</h2>
            <img src="{{ view.image_url }}" alt=""/>
        </div>
        <div class="col-md-8 col-md-offset-4">
            <div>Создана: {{ view.created }}</div>
            <div>Создатель: {{ view.creator }}</div>
            <div>Категория: {{ view.category }}</div>
            <div>Состояние: {{ view.state }}</div>
            <div>Описание: {{ view.description }}</div>
            <div>Цена: <span>{{ view.cost }}</span> Часов: <span>{{ view.hours }}</span></div>
        </div>
    </div>
{% endblock %}
