{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}
{% set without_sidebar = true %}
{% block body %}
  <div class="row users">
    <div class="col-md-12">
      <table class="table table-bordered table-sm align-middle fs-6">
        <thead>
        <tr>
          <th>Юзер</th>
          <th>Роль</th>
          <th>Почта</th>
          <th>Создан</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
          <tr>
            <td><a href="{{ path('admin_login_as', {'id': item.id}) }}"><img src="{{ item.avatar_uri }}" class="avatar"/>{{ item.name }}</a></td>
            <td>{{ item.role }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.created_at|format_datetime(locale='ru', timezone='Europe/Moscow') }}</td>
            <td><form action="{{ path('admin_user_delete', {'id': item.id}) }}" method="POST">
                <input type="hidden" name="token" value="{{ csrf_token('admin-user-delete') }}"/>
                <button type="submit" class="btn btn-danger btn-sm">Удалить</button>
              </form></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
