{% extends 'base.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('profile_create') }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('profile_create') }}
{% endblock %}

{% block title %}Create a profile{% endblock %}

{% block body_class %}create-profile-page{% endblock %}

{% set without_sidebar = true %}
{% set has_errors = errors is defined %}

{% block body %}
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form class="profile-form" method="post" enctype="multipart/form-data">
        <input type="hidden" name="token" value="{{ csrf_token('profile-form') }}"/>
        <div class="form-group">
          <label for="nickname" class="required">{{ 'nickname'|trans({}, 'profile_labels', 'ru')|raw }}</label>
          <input type="text" id="nickname" name="nickname" required="required" class="form-control {% if has_errors and errors.nickname is defined %}is-invalid{% endif %}" {% if nickname is defined %}value="{{ nickname|raw }}"{% endif %}>
          {% if has_errors and errors.nickname is defined %}
            {{ include('field_errors.twig', {'errors': errors.nickname}) }}
          {% endif %}
        </div>
        <div class="form-group" id="avatar-edit-field">
          <label class="required">{{ 'avatar'|trans({}, 'profile_labels', 'ru')|raw }}</label>
          <avatar-edit :rules="{{ rules|json_encode }}" {% if has_errors and errors.avatar is defined %}:is-invalid="true"{% endif %}></avatar-edit>
          {% if has_errors and errors.avatar is defined %}
            {{ include('field_errors.twig', {'errors': errors.avatar}) }}
          {% endif %}
        </div>
        <div class="form-group">
          <label class="required" for="timezone">{{ 'timezone'|trans({}, 'profile_labels', 'ru')|raw }}</label>
          <select id="timezone" name="timezone" class="form-select {% if has_errors and errors.timezone is defined %}is-invalid{% endif %}">
            {% for key, name in timezones %}<option value="{{ key }}" {% if timezone is defined and timezone == key%}selected{% endif %}>{{ name }}</option>{% endfor %}
          </select>
          {% if has_errors and errors.timezone is defined %}
            {{ include('field_errors.twig', {'errors': errors.timezone}) }}
          {% endif %}
        </div>
        <fieldset class="form-group">
          <legend class="col-form-label required">{{ 'role'|trans({}, 'profile_labels', 'ru')|raw }}</legend>
          <div class="flexed-controls" aria-describedby="role_help">
            {% for key, name in roles %}
            <div class="form-check">
              <label class="form-check-label"><input type="radio" name="role" required="required" class="form-check-input" value="{{ key }}" {% if key == role %}checked="checked"{% endif %}>{{ name }}</label>
            </div>
            {% endfor %}
          </div>
          <p id="role_help" class="form-text help-text">После регистрации роль может быть изменена.</p></fieldset>
        <div class="actions">
          <button type="submit" name="save" class="btn-primary btn">{{ 'save'|trans({}, 'profile_labels', 'ru')|raw }}</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
