<div style="padding:1em;background-color:#eeeeee;">
    <p>Вы получили это письмо потому, что указали этот почтовый адрес для регистрации на сайте <a href="{{ url('index') }}">{{ site_name }}</a>.</p>
    <p>Для продолжения регистрации перейдите по ссылке <a href="{{ reg_url }}">{{ reg_url }}</a></p>
</div>
