{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% if form %}
    <div class="row">
        <div class="col-md-8 col-md-offset-4">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
    {% endif %}
{% endblock %}
