{% extends 'base.html.twig' %}

{% block title %}Профиль создан{% endblock %}

{% block body %}
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div>Ваш пароль: <strong>{{ password|raw }}</strong></div>
      <div>Запомните или сохраните его.</div>
    </div>
  </div>
{% endblock %}
