@import "~bootstrap/scss/bootstrap";

.container {
  padding-top: .5em;
}

.required:after {
  content: '*';
  color: $red;
}

progress {
  height: 10px;
}

.form-group {
  margin-bottom: 1em;
}
form .actions {
  display: flex;
  justify-content: end;
}
.flexed-controls {
  display: flex;
  gap: 1em;
}
.avatar {
  border-radius: 50%;
}
.users .avatar,
.profile-menu .avatar {
  width: 50px;
  margin-right: 10px;
}
.is-invalid .drop-zone {
  border-color: $red;
  color: $red;
}
