<template>
  <div class="drop-file-wrapper">
    <div class="drop-zone" :class="dropZoneClass ? dropZoneClass : ''"
         ref="drop_zone"
         @click="onDropZoneClicked()"
         @dragover="setDragOver()"
         @dragleave="resetDragOver()"
         @drop="resetDragOver()"
    >
      <span class="label">Перетащите файлы сюда.</span>
    </div>
    <div class="form-text">
      <div v-for="help in rules.help">{{ help }}</div>
    </div>
    <input type="file" ref="input" v-bind="$attrs" @change="onChanged()">
  </div>
</template>

<script>
import {Formatter, MsgToUser} from './mixins';

export default {
  name: 'DropFile',
  inheritAttrs: false,
  mixins: [
    Formatter,
    MsgToUser,
  ],
  data() {
    return {
      dropZoneClass: null,
      dragAndDropCapable: false,
      errors: new Map(),
    };
  },
  props: {
    rules: Object,
  },
  methods: {
    determineDragAndDropCapable() {
      var div = document.createElement('div');
      return (('draggable' in div)
          || ('ondragstart' in div && 'ondrop' in div))
        && 'FormData' in window
        && 'FileReader' in window;
    },
    initDragDrop() {
      this.dragAndDropCapable = this.determineDragAndDropCapable();
      if (this.dragAndDropCapable) {
        ['drag', 'dragstart', 'dragend', 'dragover', 'dragenter', 'dragleave', 'drop'].forEach((evt) => {
          this.$refs.drop_zone.addEventListener(evt, (e) => {
            e.preventDefault();
            e.stopPropagation();
          });
        });

        this.$refs.drop_zone.addEventListener('drop', (e) => {
          let dataTransfer = new DataTransfer();

          // this.addFiles(e.dataTransfer.files);

          this.errors = new Map;

          for (let i = 0; i < e.dataTransfer.files.length; i++) {
            let file = e.dataTransfer.files[i];

            this.validateFile(file);

            if (!this.errors.size) {
              dataTransfer.items.add(file)
              this.$emit('add-file', file);
            }
          }
          if (dataTransfer.files.length) {
            this.$refs.input.files = dataTransfer.files;
          }
        });
      }
    },
    onDropZoneClicked() {
      this.$refs.input.click();
    },
    onChanged() {
      this.addFiles(this.$refs.input.files);
    },
    addFiles(files) {
      this.errors = new Map;
      for (let i = 0; i < files.length; i++) {
        let file = files[i];

        this.validateFile(file);

        if (!this.errors.size) {
          this.$emit('add-file', file);
        }
      }
    },
    validateFile(file) {
      if (!this.validateFileType(file)) {
        let fileErrors = {};
        if (this.errors.has('files')) {
          fileErrors = this.errors.get('files');
        }

        if (!file.type.length) {
          fileErrors[i] = `Неизвестный тип файла ${file.name}.`;
        }
        else {
          fileErrors[i] = `Недопустимый тип файла ${file.name}.`;
        }

        this.errors.set('files', fileErrors);

        this.errors = new Map(this.errors);
      }
      else if (!this.validateFileSize(file)) {
        let fileErrors = {};
        if (this.errors.has('files')) {
          fileErrors = this.errors.get('files');
        }

        let file_size = this.formatFileSize(file.size);
        let max_size = this.formatFileSize(this.rules.max_filesize);
        fileErrors[i] = `Размер файла ${file.name} (<strong>${file_size}</strong>) больше допустимого (<strong>${max_size}</strong>).`;
        this.errors.set('files', fileErrors);

        this.errors = new Map(this.errors);
      }
    },
    validateFileSize(file) {
      return file.size <= this.rules.max_filesize;
    },
    validateFileType(file) {
      return 'undefined' !== typeof this.rules.types[file.type];
    },
    setDragOver() {
      this.dropZoneClass = 'dragover';
    },
    resetDragOver() {
      this.dropZoneClass = null;
    },
    clear() {
      this.errors = new Map;
      this.$refs.input.value = '';
    },
  },
  mounted() {
    this.initDragDrop();
  },
};
</script>

<style scoped>
.drop-zone {
  cursor: pointer;
  border-radius: 1em;
  border: 2px dashed;
  line-height: 2em;
  padding: 2em;
  text-align: center;
}
.drop-zone:hover,
.drop-zone.dragover {
  color: cornflowerblue;
  border-color: cornflowerblue;
}
.drop-file-wrapper input[type="file"] {
  display: none;
}
</style>
