<template>
  <div class="preview">
    <img class="image" ref="image" :src="src" v-show="src" @load="onLoaded">
  </div>
</template>

<script>
export default {
  name: 'ImagePreview',
  props: {
    src: String,
  },
  methods: {
    onLoaded() {
      this.$emit('loaded');
    },
    onResized() {
      if (this.$refs.image.width !== this.width || this.$refs.image.height !== this.height) {
        this.$emit('resized');
      }
    },
    scale() {
      let naturalWidth = this.$refs.image.naturalWidth;
      let naturalHeight = this.$refs.image.naturalHeight;
      let width = this.$refs.image.width;
      let height = this.$refs.image.height;

      let sImageNatural = Math.max(naturalWidth, naturalHeight);
      let sImage = Math.max(width, height);
      return (sImageNatural / sImage).toFixed(3);
    },
  },
  mounted() {
    window.addEventListener('resize', this.onResized);
  },
  destroyed() {
    window.removeEventListener('resize', this.onResized);
  },
};
</script>

<style scoped>
.preview {
  position: relative;
}
.image {
  background: #fff;
  border-radius: 15px;
  max-width: 60%;
  max-height: 600px;
}

.image {
  display: block;
  margin: 15px auto;
}

</style>
