<template>
  <div class="avatar-edit" :class="isInvalid ? 'is-invalid' : ''">
    <image-preview :src="imageData" ref="preview" @loaded="init" @resized="init" v-show="imageData"></image-preview>
    <drop-file ref="drop_file"
               v-show="!imageData"
               :rules="rules"
               @add-file="setPreview"
               name="avatar"
               accept="image/*"></drop-file>
    <canvas id="canvas" class="canvas" v-show="imageData"
            @mousedown="onMouseDown"
            @touchstart="onMouseDown"
            @mousemove="onMouseMove"
            @touchmove="onMouseMove"
            @mouseover="onMouseEnter"
            @mouseout="onMouseLeave"
    >Your browser does not support JS or HTML5!</canvas>
    <button class="btn btn-danger clear" ref="clear" :style="{ top: clearTop + 'px', left: clearLeft + 'px', visibility: imageData && showClear ? 'visible' : 'hidden' }" @click="onClear">X</button>
    <input type="hidden" name="x" :value="x()">
    <input type="hidden" name="y" :value="y()">
    <input type="hidden" name="size" :value="size()">
  </div>
</template>

<script>
import ImagePreview from '../ImagePreview';
import {cropCircle} from '../crop_image_mixins';
import DropFile from '../DropFile';

export default {
  name: 'AvatarEdit',
  components: {
    ImagePreview,
    DropFile,
  },
  mixins: [
    cropCircle,
  ],
  props: {
    rules: Object,
    isInvalid: {
      type: Boolean,
      default: false,
    }
  },
  data() {
    return {
      imageData: null,
      previewResized: null,
    };
  },
  methods: {
    scale() {
      return null === this.imageData ? 1.0 : this.$refs.preview.scale();
    },
    x() {
      return (this.left * this.scale()).toFixed(3);
    },
    y() {
      return (this.top * this.scale()).toFixed(3);
    },
    size() {
      return (this.sideSize * this.scale()).toFixed(3);
    },
    setPreview(file) {
      let reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onloadend = () => {
        this.imageData = reader.result;
      };
    },
    onClear() {
      this.imageData = null;
      this.$refs.drop_file.clear();
    },
    init() {
      if (null === this.imageData) {
        return;
      }

      this.initCanvas(this.$refs.preview.$refs.image);
    },
  },
};
</script>

<style scoped>
.avatar-edit {
  position: relative;
}
.canvas {
  display: block;
  max-width: 60%;
  max-height: 600px;
  position: absolute;
  border: 0;
  border-radius: 15px;
}
.clear {
  position: absolute;
  z-index: 10;
}
</style>
