<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Welcome!{% endblock %}</title>
  {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
  {% endblock %}
</head>
{% set with_sidebar = without_sidebar is not defined or without_sidebar == false%}
<body>
{{ include('navbar.twig') }}
<div class="container">
  <div class="row">
    <div class="content {% if with_sidebar %}col-md-9{% else %}col-md-12{% endif %}">
      {{ include('ui_messages.html.twig') }}
      {% block body %}{% endblock %}
    </div>
    {% if with_sidebar %}
      <div class="sidebar col-md-3">
        {% block sidebar %}
          {% if profileMenu is defined %}
            {% embed profile_menu_template with {'view' : profileMenu} %}{% endembed %}
          {% endif %}
        {% endblock %}
      </div>
    {% endif %}
  </div>
</div>
{% block javascripts %}
  {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
