{% extends 'bootstrap_5_layout.html.twig' %}

{% block image_row %}
    {% set vars = {} %}
    {% for key, value in form.vars %}
        {% if (key != 'form' and key != 'errors') %}
            {% set vars = vars|merge({ (key): value }) %}
        {% endif %}
    {% endfor %}
    {% set children = {} %}
    {% for child_key, child in form %}

        {% set child_vars = {} %}
        {% for key, value in child.vars %}
            {% if (key != 'form' and key != 'errors') %}
                {% set child_vars = child_vars|merge({ (key): value }) %}
            {% endif %}
        {% endfor %}
        {% set children = children|merge({ (child_key): child_vars }) %}
    {% endfor %}
    {% set vars = vars|merge({ 'children': children }) %}
    {{ dump(vars) }}
    <div id='image-field-app'>
        {{ form_row(form, {'attr' : {'class': 'js-processing'}}) }}
        <job-image data-vars="{{ vars|json_encode }}"></job-image>
    </div>
{% endblock %}
