{% set is_user = is_logged is defined and is_logged %}
{% set route = app.request.attributes.get('_route') %}
{% set can_login = not is_user and 'login' != route and  'registration_create_profile' != route%}
<nav class="navbar navbar-expand-sm bg-secondary">
  <a class="navbar-brand text-light" href="{{ path('index') }}">{{ site_name }}</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link text-light" href="{{ path('admin') }}">Admin</a>
    </li>
    {% if not is_user %}
      <li class="nav-item">
        <a class="nav-link text-light" href="{{ path('registration') }}">Registration</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="{{ mail_url }}">Mailhog</a>
      </li>
    {% endif %}
    {% if can_login %}
      <li class="nav-item">
        <a class="nav-link text-light" href="{{ path('login') }}">Login</a>
      </li>
    {% endif %}
  </ul>
</nav>
