<div class="row">
  <div class="messages col-md-12">
    {% for label, messages in app.flashes %}
      {% for message in messages %}
        <div class="alert alert-{% if ('error' == label) %}danger{% else %}{{ label }}{% endif %}">
          {{ message|raw }}
        </div>
      {% endfor %}
    {% endfor %}
  </div>
</div>
