{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-8 col-md-offset-4">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <div class="form-group"><label for="inputName" class="required">Nickname</label>
                    <input type="text" value="{{ last_username }}" name="name" id="inputName" class="form-control" placeholder="Nickname" required></div>
                <div class="form-group">
                    <label for="inputPassword" class="required">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required></div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="form-group">
                    <button type="submit" id="form_Send" name="form[Send]" class="btn-primary btn">Sign in</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
